GITHUB_TOKEN=your_github_token_here
GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
SLACK_USER_TOKEN=your_slack_user_token_here
DATAHUB_GMS_URL=https://datahub.buzzvil.dev/api/gms
DATAHUB_GMS_TOKEN=your_datahub_gms_token_here
REDASH_URL=https://redash.buzzvil.com
REDASH_SESSION_COOKIE=your_redash_remember_token_here
GRAFANA_URL=https://grafana.buzzvil.dev
GRAFANA_SESSION_COOKIE=your_grafana_session_cookie_here
ARGO_WORKFLOWS_URL=https://argo.buzzvil.dev
ARGO_WORKFLOWS_DEV_URL=https://argo-dev.buzzvil.dev
ARGO_WORKFLOWS_TOKEN=your_argo_workflows_token_here
ARGO_WORKFLOWS_DEV_TOKEN=your_argo_workflows_dev_token_here
DASH_API_GATEWAY_URL=https://dash-api-gateway.eks.buzzvil.com
DASH_ID=your_email@buzzvil.com
DASH_PW=your_password
DASH_PROD_SESSION_COOKIE=your_dash_prod_session_cookie_here
DASH_OTHER_SESSION_COOKIE=your_dash_other_session_cookie_here
ADSERVER_PATH=/path/to/your/adserver
ADS_CENTER_PATH=/path/to/your/ads-center
ADS_CENTER_ID=your_ads_center_id
ADS_CENTER_PW=your_ads_center_password
DASH_API_GATEWAY_PATH=/path/to/your/dash-api-gateway
DASH_PATH=/path/to/your/dash
GITPLOY_URL=https://gitploy.buzzvil.dev
GITPLOY_SESSION_COOKIE=your_gitploy_session_cookie_here
GITPLOY_PATH=/path/to/your/gitploy
ME=your_name_here
